{% extends "base.html" %}
{% block content %}

<form action="/suppliers/{{supplier.id}}" method="post">
    <div>
    <label for="company_name">Name:</label>
    <input type="text" id="company_name" name="company_name" value="{{supplier.company_name}}" required>
    </div>

    <div>
    <label for="company_origin">From?:</label>
    <input product_type="text" id="company_origin" name="company_origin" value="{{supplier.company_origin}}" required autofocus>
    </div>




<button type="submit">Update product</button>

</form>

{% endblock %}